@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;

    appearance: none;
    outline: none;
    box-shadow: none;
}

body {
    padding: 3rem;
    background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    /* margin-top: 2rem;
    margin-bottom: 1rem; */
}

h1 {
    font-size: 3.25rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

button {
    height: 48px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 1.5rem;
}


section {
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 1.5rem;
}
[role="section"] {
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 1.5rem;
}

strong, b {
    font-weight: bold;
}
em, i {
    font-style: italic;
}