:root {
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --border-radius-base: 1.5rem;
}

body {
    background-color: #fcfcfc;
}
body > header,
body > main,
body > aside,
body > footer {
    padding: var(--spacing-lg);
}
header {
    padding: var(--spacing-sm);
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}
main {
    padding: var(--spacing-sm);
    background-color: #fcfcfc;
}

aside {
    background-color: #fff;
    padding: var(--spacing-sm);
    border-radius: var(--border-radius-base);
    overflow: auto;
}

footer {
    padding: var(--spacing-sm);
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
}

section {
    background-color: #fff;
    padding: var(--spacing-md);
    border-radius: var(--border-radius-base);
    overflow: auto;
}

article {
    background-color: #fff;
    padding: var(--spacing-md);
    border-radius: var(--border-radius-base);
    border: 1px solid #e8e8e8;
}