body {
    background-color: #fcfcfc;
}
body > header,
body > main,
body > aside,
body > footer {
    padding: 3rem;
}
header {
    padding: 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}
main {
    padding: 1.5rem;
    background-color: #fcfcfc;
}

aside {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 1.5rem;
    overflow: auto;
}

footer {
    padding: 1.5rem;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
}

section {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1.5rem;
    overflow: auto;
}

article {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 1px solid #e8e8e8;
}